<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Flask Tutorial</title>
</head>
<body>
{% extends "template.html" %}
{% block content %}

    <h1> My First Try Using Flask </h1>
    <p> Flask is Fun </p>

    <p>{{ my_string }}</p>

{% endblock %}
</body>
</html>