<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    {% include 'resources.html' %}
    <meta charset="utf-8">
    <title>Flask Parent Template</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}">
</head>
<body>
<header>
    {% include 'navbar.html' %}
    {#    <div class="container">#}
    <h1 class="logo">First Web App</h1>
    <strong>
        <nav>
            <ul class="menu">
                {# redirect to the url of the function called home
                    # if two functions with same name, it get the first one declared
                    # declare the blueprint and the method <blueprint>.<method>
                    ##}
                <li><a href="{{ url_for('home_controller.home') }}">Home</a></li>
                <li><a href="{{ url_for('user_management.get_register_user') }}">Register</a></li>

            </ul>
        </nav>
    </strong>
    {#    </div>#}
</header>

{% block content %}
    {#    define later what is the block content #}
{% endblock %}

{% block footer %} {# block of content which can be changed by files which extend this template #}
    {% include 'footer.html' %}
{% endblock %}


</body>
</html>